:root {
    --black-primary: #000000;
    --white-primary: #ffffff;
    --grey: #767676;
    --green-dark: #006400;
    --gree-light: #90ee90;
    --red-dark: #cb3234; 
    --blue-dark: #000080;
    --family-monserrat: [Montserrat](https://fonts.google.com/specimen/Montserrat);
    --family-fraunces: [Fraunces](https://fonts.google.com/specimen/Fraunces);
  }
  
  /* Eliminar el modelo caja de css para medidas */
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
    margin: 0 auto;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    font-size: 2rem;
  }

.header-empleados {
  display: flex;
  justify-content:flex-start;
  gap: 4rem;
  background-color: var(--green-dark);
  width: 100%;
  padding: 2.5rem;  
}

.a-empleados {
  text-decoration: none;
  font-size: 3rem;
  color: var(--white-primary);
  margin-left: 3rem;
  height: 100%;
}

.a-empleados:hover {
  background-color: var(--gree-light);
}
  
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  

.contenedor-botones {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 800px;
}

.contenedor-botones button {
    font-size: 2rem;
    background-color: var(--grey);
    color: var(--white-primary);
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    cursor:pointer ;
}

table {
    font-size: 2.3rem;
    width: 100%;
    table-layout: fixed;
      margin-top: 4rem;

}

.tabla-contenido {
  text-align: center;
}

.tabla-contenido td {
  padding: 3rem 0;
}


.main-container {
  width: 100%;
  margin: 0 auto;
}


.btn-modify-update,
.btn-modify-delete {
  border: none;
  background-color: var(--white-primary);
  cursor: pointer;
}

.btn-modify-update {
  color: var(--blue-dark);
}

.btn-modify-delete {
  color: var(--red-dark);
}
